.header{
    background-color:rgba(83, 83, 83, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .logo{
    flex-grow: 2;
    display: flex;
    margin-left: 80px;
}
.header .logo span{
    display: block;
    font-size: 150px;
    font-weight: bolder;
    margin-top: -25px;
}
.header .logo h3{
    display: block;
    flex-basis: 40px;
    margin-left:0px;
    font-weight: lighter;
   

}
.header, nav{
    flex-grow: 1;
    height: 132px;
    margin-right:80px ;
}

.header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    
 
}
.header li{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    margin:  15px 15px 0 0;
}
.header li a{
    text-decoration: none;
    transition: all 300ms;
    color: black;
}
.header .active,
.header a:hover{
    color: rgb(255, 80, 80)
}