.header{
    background-color:rgba(83, 83, 83, 0.7);
    display: flex;
  
}
.header, .logo{
    flex-grow: 2;
}

.header, nav{
    flex-grow: 1;
}

.header li{
    display: flex;
    justify-content: center;
}
.header nav ul {
    display: flex;
}